* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  padding: 20px;
} */

.sortable-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

@media (max-width: 700px) {
  .sortable-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .sortable-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
